In [2]:
import pandas as pd

In [3]:
stats = pd.read_csv("player_mvp_stats.csv")

In [4]:
stats

,Unnamed: 0,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,Pts Max,Share,Team,W,L,W/L%,GB,PS/G,PA/G,SRS
0,0,A.C. Green,PF,27,LAL,82,21,26.4,3.1,6.6,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
1,1,Byron Scott,SG,29,LAL,82,82,32.1,6.1,12.8,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
2,2,Elden Campbell,PF,22,LAL,52,0,7.3,1.1,2.4,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
3,3,Irving Thomas,PF,25,LAL,26,0,4.2,0.7,1.9,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
4,4,James Worthy,SF,29,LAL,78,74,38.6,9.2,18.7,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14692,14692,Spencer Hawes,PF,28,MIL,54,1,14.8,2.5,5.1,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
14693,14693,Steve Novak,PF,33,MIL,8,0,2.8,0.3,0.9,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
14694,14694,Terrence Jones,PF,25,MIL,54,12,23.5,4.3,9.1,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
14695,14695,Thon Maker,C,19,MIL,57,34,9.9,1.5,3.2,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
14696,14696,Tony Snell,SG,25,MIL,80,80,29.2,3.1,6.8,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45

In [5]:
del stats["Unnamed: 0"]

In [12]:
stats[pd.isnull(stats["FT%"])][["Player", "FTA"]]

                Player  FTA
77          John Coker  0.0
92        Jason Sasser  0.0
103    Adrian Caldwell  0.0
119       Bruno Šundov  0.0
158     Jamal Robinson  0.0
...                ...  ...
14556    Mark McNamara  0.0
14584      Luke Zeller  0.0
14637      Myron Brown  0.0
14659      Malcolm Lee  0.0
14693      Steve Novak  0.0

[521 rows x 2 columns]

In [13]:
stats = stats.fillna(0)

In [14]:
stats.columns

Index(['Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Year',
       'Pts Won', 'Pts Max', 'Share', 'Team', 'W', 'L', 'W/L%', 'GB', 'PS/G',
       'PA/G', 'SRS'],
      dtype='object')

In [22]:
predictors = ['Age','G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Year', 'W', 'L', 'W/L%', 'GB', 'PS/G',
       'PA/G', 'SRS']

In [23]:
train = stats[stats["Year"] < 2022]

In [24]:
test = stats[stats["Year"] == 2022]

In [25]:
from sklearn.linear_model import Ridge

reg = Ridge(alpha=.1)

In [26]:
reg.fit(train[predictors], train["Share"])

Ridge(alpha=0.1)

In [27]:
predictions = reg.predict(test[predictors])

In [29]:
predictions = pd.DataFrame(predictions, columns=["predictions"], index=test.index)

In [30]:
predictions

       predictions
648       0.012934
649      -0.028142
650      -0.006163
651       0.016564
652      -0.004820
...            ...
12508    -0.019380
12509    -0.010196
12510     0.003810
12511     0.001162
12512    -0.057006

[605 rows x 1 columns]

In [31]:
combination = pd.concat([test[["Player", "Share"]],predictions], axis=1)

In [32]:
combination

                Player  Share  predictions
648       Aaron Gordon    0.0     0.012934
649      Austin Rivers    0.0    -0.028142
650            Bol Bol    0.0    -0.006163
651       Bones Hyland    0.0     0.016564
652        Bryn Forbes    0.0    -0.004820
...                ...    ...          ...
12508     Micah Potter    0.0    -0.019380
12509  Rodney McGruder    0.0    -0.010196
12510        Saben Lee    0.0     0.003810
12511       Saddiq Bey    0.0     0.001162
12512   Trayvon Palmer    0.0    -0.057006

[605 rows x 3 columns]

In [33]:
combination.sort_values("Share", ascending=False).head(10)

                      Player  Share  predictions
663             Nikola Jokić  0.875     0.190365
837              Joel Embiid  0.706     0.190462
11678  Giannis Antetokounmpo  0.595     0.219410
907             Devin Booker  0.216     0.091309
11469            Luka Dončić  0.146     0.157395
1179            Jayson Tatum  0.043     0.095902
12226              Ja Morant  0.010     0.120508
6398           Stephen Curry  0.004     0.093138
905               Chris Paul  0.002     0.078329
8241            LeBron James  0.001     0.157828

In [36]:
from sklearn.metrics import mean_squared_error

mean_squared_error(combination["Share"], combination["predictions"])

0.002240241602564996

In [37]:
combination["Share"].value_counts()

0.000    593
0.001      3
0.043      1
0.595      1
0.146      1
0.010      1
0.002      1
0.706      1
0.004      1
0.216      1
0.875      1
Name: Share, dtype: int64

In [42]:
combination = combination.sort_values("Share", ascending=False)
combination["Rk"] =  list(range(1, combination.shape[0]+1))

In [43]:
combination.head(10)

                      Player  Share  predictions  Rk
663             Nikola Jokić  0.875     0.190365   1
837              Joel Embiid  0.706     0.190462   2
11678  Giannis Antetokounmpo  0.595     0.219410   3
907             Devin Booker  0.216     0.091309   4
11469            Luka Dončić  0.146     0.157395   5
1179            Jayson Tatum  0.043     0.095902   6
12226              Ja Morant  0.010     0.120508   7
6398           Stephen Curry  0.004     0.093138   8
905               Chris Paul  0.002     0.078329   9
8241            LeBron James  0.001     0.157828  10

In [44]:
combination = combination.sort_values("predictions", ascending=False)
combination["Prediction_Rk"] = list(range(1, combination.shape[0]+1))

In [45]:
combination.head(10)

                      Player  Share  predictions   Rk  Prediction_Rk
11678  Giannis Antetokounmpo  0.595     0.219410    3              1
837              Joel Embiid  0.706     0.190462    2              2
663             Nikola Jokić  0.875     0.190365    1              3
8241            LeBron James  0.001     0.157828   10              4
11469            Luka Dončić  0.146     0.157395    5              5
6185            Kevin Durant  0.001     0.140627   12              6
12226              Ja Morant  0.010     0.120508    7              7
11820             Trae Young  0.000     0.109246  289              8
8231           Anthony Davis  0.000     0.107306  112              9
836             James Harden  0.000     0.103584  393             10

In [46]:
#using average presition to determine another error metric 

combination.sort_values("Share", ascending=False).head(10)

                      Player  Share  predictions  Rk  Prediction_Rk
663             Nikola Jokić  0.875     0.190365   1              3
837              Joel Embiid  0.706     0.190462   2              2
11678  Giannis Antetokounmpo  0.595     0.219410   3              1
907             Devin Booker  0.216     0.091309   4             17
11469            Luka Dončić  0.146     0.157395   5              5
1179            Jayson Tatum  0.043     0.095902   6             13
12226              Ja Morant  0.010     0.120508   7              7
6398           Stephen Curry  0.004     0.093138   8             15
905               Chris Paul  0.002     0.078329   9             21
3938           DeMar DeRozan  0.001     0.099241  11             11

In [ ]:
def find ap